.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.overview {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #fff;
}

.poster {
  width: 100%;
}

.datos_recomendacion_celda {
  padding-left: 0.5em;
}

.tituloRecomendacion {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 0.3em;
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#slider {
  margin-top: 0.5em;
}
.tituloSlider {
  margin-left: 0.5em;
    font-weight: bold;
    font-size: large;
    width: 100%;
    padding-left: 0.5em;
    color:gray;
}

.boton_lista_negra {
  position: absolute;
}